<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "<http://mybatis.org/dtd/mybatis-3-config.dtd>">
<configuration>
    <settings>
        <!-- changes from the defaults -->
        <setting name="vfsImpl" value="org.mybatis.spring.boot.autoconfigure.SpringBootVFS"/>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
    <typeAliases>
        <package name="com.rohan.lms.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/BorrowReturnMapper.xml"/>
    </mappers>
</configuration>